/*===============Propiedades Globales================*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Hat+Mono:ital@1&display=swap');
* {
    font-family: 'Red Hat Mono', monospace;
    margin: 0;
    padding: 0;
    

}

/*===============MENU================*/

.colorNav {
    background: rgb(255,9,9);
    background: linear-gradient(90deg, rgba(255,9,9,0.8365721288515406) 54%, rgba(232,191,12,1) 95%, rgba(255,156,0,1) 100%);
}

.colorSubnav{
    background-color: rgb(255,9,9);
}

#menu a {
    color:rgb(34, 15, 15);
}

#menu a span {
    font-family:Pacifico;
}
    

/*===============SLIDER DE IMAGENES================*/

.carousel-inner{
    max-height: 30rem;
}


/*===============form================*/

.colorFondo{
    background-color: rgba(95, 87, 86, 0.452);
}























/*=========================MEDIA QUERIES PANTALLA SM================================*/

    @media (max-width:768px){
        #intro{
            width:90% !important;
        }
    }

    /*=========================ANIMACIONES================================*/


    .transform:hover{
        transform:translateY(-20px);
        -webkit-transform:translateY(-20px);
        -moz-transform:translateY(-20px);
        -ms-transform:translateY(-20px);
        -o-transform:translateY(-20px);
        cursor:pointer;
}
